* {
	margin: 0px;
	box-sizing: border-box;
	padding: 0px;
	/*  border: 1px solid rgb(151, 73, 73); */
}
header {
	background-image: url(../Imagenes/design1_image1.jpg);
	height: 30vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
}

#imgTittle {
	margin-top: 3vh;
	height: 25vh;
}

.logoflex {
	height: 15vh;
	position: fixed;
	top: 85vh;
}
.contenedor {
	margin-top: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.hockey {
	margin-top: 3vh;
	width: 50vh;
	display: inline-flex;
	box-shadow: 4px 4px 4px black;
}
.divnav {
	border: 2px solid black;
	/*  background-color: rgb(10, 0, 65); */
	background-color: rgb(100, 0, 0);
	display: flex;
}
.divnav nav {
	font-family: "Nunito", sans-serif;
	width: fit-content;
	height: fit-content;
	display: inline-flex;
	align-self: center;
	flex-wrap: wrap;
}
.divnav nav a {
	background-position: center;
	bottom: 35px;
	width: fit-content;
	/* background-color: rgba(13, 145, 155, 0.842); */
	background-color: black;
	color: white;
	text-decoration: none;
	font-size: 18px;
	list-style: none;
	border: 1px solid black;
	box-shadow: 2px 2px 2px black;
	margin-left: 7px;
	flex-wrap: wrap;
}
.divnav > h2 {
	font-family: "DM Serif Display", serif;
	width: 37%;
	font-size: 35px;
	color: white;
	text-align: center;
	display: inline-flex;
	justify-content: center;
}
article {
	margin-top: 3vh;
	font-size: 2.5vh;
	display: inline-flexbox;
	width: 60vw;
	margin-left: 5vh;
}
.contact {
	font-size: 2.5vh;
	margin-top: 2vh;
}

.margin {
	margin-left: 2vh;
}
article h1 {
	margin-top: 3vh;
	font-size: 4vh;
}
.underline {
	text-decoration: underline;
}

#active {
	/*   background-color: rgba(163, 252, 31, 0.541); */
	background-color: rgba(240, 184, 0, 0.897);
}

.espacio {
	text-indent: 3vh;
}
footer {
	margin-top: 21vh;
	background-color: #252228;
	color: #f7f7f8;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	order: 3;
	width: 100%;
	height: 2rem;
}
body {
	height: 100%;
}

.divgame {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}

.divfont {
	font-size: 3vh;
}

.mightyrules {
	text-align: center;
}

.letters {
	list-style-type: lower-alpha;
}

.circle {
	list-style-type: circle;
	margin-left: 8vh;
}

.tabla {
	display: flex;
}

.spantabla {
	width: 25vh;
}

.cabeza {
	text-align: start;
}
th {
	text-align: start;
}

td {
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.facility {
	margin-top: 4vh;
}

.divarticle {
	margin-top: 3vh;
	font-size: 2.5vh;
	display: inline-flexbox;
	width: 60vw;
	margin-left: 5vh;
}

li {
	padding-bottom: 2vh;
}

.divform {
	width: 60vw;
}
.mapahtml {
	margin-top: 3vh;
	width: 40vw;
	height: 50vh;
	box-shadow: 4px 4px 4px 4px black;
}

.hockeydiv {
	height: 40vh;
	margin-top: 20vh;
}

.check {
	margin-top: 3vh;
	display: inline-flex;
	flex-direction: column;
	height: 27vh;
	width: 15vw;
}
.check1 {
	display: inline-flex;
	flex-direction: column;
	height: 20vh;
	width: 15vw;
}

.check2 {
	margin-top: 3vh;
	display: inline-flex;
	flex-direction: column;
	height: 12vh;
	width: 15vw;
}
.textForm {
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
}

/* fieldset {
	 	padding: 2vh; 
 	height: 29vh;
}  */
form {
	font-size: 1.5rem;
	font-family: "Nunito", sans-serif;
}

#lName,
#fName,
#city {
	width: 25%;
}
#sName {
	width: 40%;
}

#zCode {
	width: 40%;
}

input {
	font-family: "Nunito", sans-serif;
	font-size: 1.5rem;
}

#send {
	width: 100%;
}
#date2 {
	height: 3.3vh;
}

#first,
#second,
#third,
#fourth,
#fifth {
	margin-left: 2vw;
}
@media screen and (max-width: 850px) {
	.divnav {
		flex-wrap: wrap;
		justify-content: center;
	}
	#imgTittle {
		width: 70%;
		margin-top: 3vh;
		height: 25vh;
	}
	.hockey {
		margin-left: 3vh;
		width: 90%;
	}
	.divform {
		width: 100%;
	}
	.check,
	.check1,
	.check2 {
		font-size: 3vh;
		flex-wrap: wrap;
		width: 100%;
	}
}
